*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* navigation */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

nav ul{
    display: flex;
}

.text-primary{
    color: #eb7531;
}